img { max-width: 100%; }
.header__foodblog{
	background-image: url('images/main-background.png');
	background-repeat:no-repeat;
	background-size: 100% 100%;

}
.header__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 13vw;
}
.header__container__title{
	font-family: 'Pacifico', sans-serif;
	font-weight: 400;
	font-size: 50px;
	margin:10px;
}
.header__container__nav__list{
	list-style-type: none;
	display: flex;
}
.header__container__nav__list__item{
	margin: 0 18px;
	padding-top:9px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-top: 2px solid rgba(0,0,0, 0.0);
	transition-duration:0.2s;
}
.header__container__nav__list__item:hover{
	border-top: 2px solid #ff6033;

}
.header__container__nav__list__item__link{
	color:black;
	text-decoration: none;
	transition: 0.2s;
}
.foodblog{
	height:900px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.foodblog__content__text{
	margin-top:20vh;
	margin-left: 13vw;
}
.foodblog__content__text__title{
	font-size:60px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700px;
	line-height: 25px;
	text-transform: capitalize;
}
.foodblog__content__text__description{
	margin:30px 0;
	max-width: 400px;
	font-size:17px;
	font-family: 'Raleway', sans-serif;
}
.foodblog__content__text__button{
	text-transform: uppercase;
	text-align: center;
	width:200px;
	height: 55px;
	background-color: #ff6033;
	border:none;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
	color:white;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	cursor:pointer;
}
.foodblog__content__text__button:active{
	border:none;
	box-shadow: none;
}
.foodblog__content__text__button:focus{
	outline: none;
}
.foodblog__scroll{	
	width:24px;
	height: 40px;
	background-image: url('images/scroll.png');
	margin:0 auto 0 auto;
	padding-bottom: 70px;
	background-repeat: no-repeat;
}
.about{
	background-color:#00b3b3;
	padding:50px 0;
}
.about__container{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about__container--photo{
	width:650px;
	height: 644px;
	background-image: url('images/cup.png');
}
.about__container__text{
	display: flex;
	flex-direction: column;
	max-width: 450px;
}
.about__container__text__title{
	font-size: 90px;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	margin:0;
}
.about__container__text__description{
	color:white;
	font-style: white;
	font-family: 'Raleway', sans-serif;
	line-height: 27px;
	font-weight: 300;
	margin:10px 0;
}
.services{
	background-color: #70bfff;
	margin:0;
}
.services__container{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.services__container__title{
	margin:100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('images/tomato.png');
	background-repeat: no-repeat;
	background-position: 100% 0; 		
	background-size:80% 100%;
	font-family:'Raleway', sans-serif;
	font-weight: bold;
	color:white;
	font-size:90px;
	text-transform: capitalize;
	width:600px;
	height: 527px;
	padding:0;
}
.services__container__list{
	margin: 100px 0;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding:0;
}
.services__container__list__online, .services__container__list__quality, .services__container__list__delivery, .services__container__list__organized{
	display: flex;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.5);
	margin:10px 0;

}
.services__container__list__online__text, .services__container__list__quality__text, .services__container__list__delivery__text, .services__container__list__organized__text{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width:300px;
	height:100px;
	background-color:white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-transform: capitalize;
	border-right:1px solid #9d9d9d;
	margin:0;

}
.services__container__list__online__box, .services__container__list__quality__box, .services__container__list__delivery__box, .services__container__list__organized__box{
	width:99px;
	height: 100px;
	margin:0;
	padding:0;
	background-color:white;
	display: flex;
	align-items: center;
	justify-content: center;

}
.gallery{
	background-color:#ffe92f;
}
.gallery__container{
	padding:100px 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.gallery__container__text__title{
	text-align: center;
	margin:20px 0;
	font-size: 90px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color:#262626;
}
.gallery__container__text__description{
	margin:0;
	max-width:560px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color:#262626;
}
.gallery__container__photos{
	max-width: 1300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: center;
	align-items: stretch;
	margin:0;
	padding:0 0 50px;
}
.gallery__container__photos__pack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 0 15px;
}
.gallery__container__photos__first{
	width: calc(100% * 2/3 - 15px);
}
.gallery__container__photos__pack, .gallery__container__photos__pack{
	height:273px;
	width: calc(100% * 1/3 - 15px);
}
.gallery__container__photos__first__image, .gallery__container__photos__pack__first, .gallery__container__photos__pack__second, .gallery__container__photos__fourth__image, .gallery__container__photos__fifth__image{
	margin:15px;
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);
}
.gallery__container__photos__fourth, .gallery__container__photos__fifth{
	width: calc(50% - 15px);
}
.gallery__container__button{
	width:200px;
	height:55px;
	background-color: #5585a2;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	border:none;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
	cursor: pointer;
	color:white;
}
.gallery__container__button:active{
	box-shadow: none;
	background-color: #5585a2;
}
.gallery__container__button:focus{
	outline: none;
	background-color: #5585a2;
}
.subscribe{
	display: flex;
	align-items: center;
	background-image: url('images/subscribe-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 67% 0;
	height: 500px;
}
.subscribe__text{
	display: flex;
	flex-direction: column;
	margin:150px 0;
	margin-left:23vw;
}
.subscribe__text__title{
	margin:0;
	font-size:40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color:#262626;
	text-transform: capitalize;
}
.subscribe__text__description{
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 17px;
	color:#262626;
	line-height: 27px;
	max-width: 550px;		
}
.subscribe__text__label{
	display: flex;
	align-items: center;
}
.subscribe__text__label__input{
	height: 45px;
	width:550px;
	font-size:15px;
	padding:5px;
	border:1px solid #262626;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color:#262626;
	margin-right:20px;
}
.subscribe__text__label__input:focus{
	outline:none;
}
.subscribe__text__label__button{
	width:170px;
	height:55px;
	background-color:#96b92c;
	border:none;
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.75);
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 17px;
	color:#fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
.subscribe__text__label__button:active{
	outline: none;	
	box-shadow: none;
}
.subscribe__text__label__button:focus{
	outline:none;
}
.blog{
	background-color: #b07cf7;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-bottom: 150px;
}
.blog__text{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.blog__text__title{
	margin:0;
	padding-top:50px;
	text-align: center;
	font-size: 90px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: white;
}
.blog__text__description{
	max-width: 570px;
	color:white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 17px;
}
.blog__gallery{
	display: flex;
	justify-content: center;
}
.blog__gallery__container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin:30px 0;
}
.blog__gallery__container__photo{
	background: linear-gradient(to bottom, rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 55%,rgba(0,0,0,0.9) 100%);
	height:324px;
	width:373px;
	background-size: 100% 100%;
	margin:10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.2s;	
}
.photo1{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 55%,rgba(0,0,0,0.9) 100%), url('images/blog-img1.png');
}
.photo2{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 55%,rgba(0,0,0,0.9) 100%), url('images/blog-img2.png');
}
.photo3{
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 55%,rgba(0,0,0,0.9) 100%), url('images/blog-img3.png');
}
.blog__gallery__container__photo:hover{
	box-shadow: 0 4px 10px rgba(0,0,0, 0.5);
}

.blog__gallery__container__photo__date{
	margin:25px;
	text-align: center;
	max-width: 55px;
	background-color: rgba(0,0,0, 0.5);
	border-radius: 4px;
}
.blog__gallery__container__photo__date__day{
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	font-weight: bold;
	color:white;
	margin:0 0 3px 0;
	line-height: 25px;
}
.blog__gallery__container__photo__date__month{
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	font-weight: 800;
	color:white;
	text-transform: uppercase;
	margin:0;
}
.blog__gallery__container__photo__description{
	display: flex;
	flex-direction: column;
	margin:17px;
}
.blog__gallery__container__photo__description__title{
	margin:0;
	color:white;
	font-style: 20px;
	line-height: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}
.blog__gallery__container__photo__description__author{
	margin:0;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 13px;
}
.blog__button{
	text-transform: uppercase;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 20px;
	line-height: 25px;
	width: 200px;
	height: 55px;
	background-color: #f72b3b;
	border: none;
	outline: none;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
	transition: 0.1;
}
.blog__button:active{
	box-shadow: none;
	outline: none;
}
.blog__button:focus{
	outline: none;
}
.contact{
	background-image: url('images/footer-background.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.contact__text{
	margin:0 auto;
	padding:20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 350px;
}
.contact__text__title{
	font-size: 90px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color:#262626;
	text-align: center;
	margin:20px 0;
}
.contact__text__description{
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 17px;
	color: #262626;
	line-height: 25px;
	text-align: center;
	margin:0;
}
.contact__information{
	display: flex;
	justify-content: space-around;
	margin:0 auto;
	width:80%;
	padding-bottom: 150px;
}
.contact__information__form{
	display: flex;
	flex-direction: column;
}
.contact__information__form__input{
	width:465px;
	height: 20px;
	padding:15px;
	margin:10px 0;
	background-color: rgba(0,196,196, 0.5);
	outline: none;
	border:none;
	transition: 0.5s;
	border-left: 5px solid rgba(53, 91, 130, 0);
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color:white;
}
.contact__information__form__textarea{
	margin:10px 0;
	background-color: rgba(0,196,196, 0.5);	
	padding:15px;
	width: 465px;
	height: 300px;
	transition: 0.5s;
	outline: none;
	border:none;
	border-left: 5px solid rgba(53, 91, 130, 0);
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color:white;
	resize: none;
}
.contact__information__form__textarea:focus, .contact__information__form__input:focus{
	background-color: rgba(0,196,196, 1);
	border-left: 5px solid rgba(53, 91, 130, 1);

}
.contact__information__form__textarea::placeholder, .contact__information__form__input::placeholder{
	color:white;
	font-weight: 200;
}
.contact__information__address{
	display: flex;
	flex-direction: column;
	width:500px;
}
.contact__information__address__set{
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin:10px 0;
}
.contact__information__address__set__title{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 17px;
	color:#262626;
	text-transform: uppercase;
	margin:0;
}
.contact__information__address__set__description{
	margin:0;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color:#262626;
}
.footer{
	background-color:#262626;
	height: 90px;
	width:100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.footer__date, .footer__sign{
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color:#b9b9b9;
	font-size: 16px;
}
.footer__logo{
	font-family: 'Pacifico', sans-serif;
	font-size:25px;
	color:#b9b9b9;
}
.footer__sign__love{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #ff2b58;
}
@media (max-width: 1250px){
	.about__container__text{
		max-width: 300px;
	}
	.about__container--photo{
		width:450px;
		height: 450px;
		background-size:100% 100%;
	}
	.about__container__text__title{
		font-size:50px;
	}
	.services__container__title{
		width:400px;
		height:355px;
		font-size:50px;
	}
	.services__container__list__online__text, .services__container__list__quality__text, .services__container__list__delivery__text, .services__container__list__organized__text{
		width:200px;
		font-size:18px;
	}
	.subscribe__text{
		margin-left: 20px;
	}
}
@media (max-width: 800px){
	.header__foodblog{
		background-color:#f9f8fb;
		background-image: none;
	}
	.header__container{
		justify-content: space-around;
	}
	.header__container__nav{
		display: flex;
		align-items: center;
	}
	.header__container__nav__list{
		padding:0;
		flex-direction: column;
		margin:0;
		margin-top: 10px;
	}
	.header__container__nav__list__item{
		padding-top:3px;
		margin-right: 0;
		margin-left: 10px;
		max-width: 150px;
		border:none;
	}
	.header__container__nav__list__item:hover{
		border:none;
	}
	.header__container__nav__list__item__link:hover{
		color:#777;
	}
	.foodblog{
		align-items: flex-start;
		height: 400px;
	}
	.foodblog__content{
		margin:0 auto;
	}
	.foodblog__content__text{
		display: flex;
		max-width: 400px;
		padding: 0 10px;
		margin:0 auto;
		flex-direction: column;
		align-items: center;
	}
	.foodblog__content__text__title{ 		
		font-size:50px;
		white-space: nowrap;
		margin-bottom: 0;
	}
	.foodblog__content__text__description{
		text-align: justify;
	}
	.foodblog__scroll{
		display: none;
	}
	.about__container{
		flex-direction: column-reverse;
		text-align: justify;
	}
	.about__container--photo{
		width:300px;
		height:300px;
	}
	.about__container__text{
		margin:10px;
		align-items: center;
	}
	.about__container__text__title{
		font-size:50px;
	}
	.services__container{
		flex-direction: column-reverse;
	}
	.services__container__title{
		margin:20px 0;
		width:280px;
		height: 250px;
		font-size:45px;
	}
	.services__container__list{
		margin:20px 0;
	}
	.services__container__list__online__text, .services__container__list__quality__text, .services__container__list__delivery__text, .services__container__list__organized__text{
		height:67px;
	}
	.services__container__list__online__box, .services__container__list__quality__box, .services__container__list__delivery__box, .services__container__list__organized__box{
		height: 67px;
		width: 67px;
	}
	.gallery__container{
		padding-top:20px;
	}
	.gallery__container__text__title{
		font-size:50px;
	}
	.gallery__container__photos{
		flex-direction: column;
		margin:0;
		padding:0;
		justify-content: center;
		align-items: center;
	}
	.gallery__container__photos__first{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90%;
		height: 10%;
		margin:0;
	}
	.gallery__container__photos__pack{
		height: 10%;
		width:90%;
		margin:0;
		display: flex;
		justify-content: center;
	}
	.gallery__container__photos__fourth, .gallery__container__photos__fifth{
		width:90%;
		height: 10%;
		margin:0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.subscribe{
		background:none;
		display: flex;
		align-items: center;
		justify-content: center;

	}
	.subscribe__text{			
		margin-left:0;
		max-width: 600px;
	}
	.subscribe__text__title{
		font-size: 32px;
		text-align: center;
	}
	.subscribe__text__description{
		max-width: 600px;
		text-align: center;
		margin:0 15px;
	}
	.subscribe__text__label{
		flex-direction: column;
		align-items: center
		justify-content:center;
	}
	.subscribe__text__label__input{
		max-width:200px;
		margin:20px 0 20px 0;
	}
	.subscribe__text__label__button{
		width:210px;
	}
	.blog__gallery__container__photo1, .blog__gallery__container__photo2, .blog__gallery__container__photo3{
		width:320px;
	}
}

