.header__foodblog{
	background-image: url('images/main-background.png');
	background-repeat:no-repeat;
	background-size: 100% 100%;

}
.header__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 13vw;
}
.header__container__title{
	font-family: 'Pacifico', sans-serif;
	font-weight: 400;
	font-size: 50px;
	margin:10px;
}
.header__container__nav__list{
	list-style-type: none;
	display: flex;
}
.header__container__nav__list__item{
	margin: 0 18px;
	padding-top:9px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-top: 2px solid rgba(0,0,0, 0.0);
	transition-duration:0.2s;
}
.header__container__nav__list__item:hover{
	border-top: 2px solid #ff6033;

}
.header__container__nav__list__item__link{
	color:black;
	text-decoration: none;
	transition: 0.2s;
}
.foodblog{
	height:900px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.foodblog__content__text{
	margin-top:20vh;
	margin-left: 13vw;
}
.foodblog__content__text__title{
	font-size:60px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700px;
	line-height: 25px;
	text-transform: capitalize;
}
.foodblog__content__text__description{
	margin:30px 0;
	max-width: 400px;
	font-size:17px;
	font-family: 'Raleway', sans-serif;
}
.foodblog__content__text__button{
	text-transform: uppercase;
	text-align: center;
	width:200px;
	height: 55px;
	background-color: #ff6033;
	border:none;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
	color:white;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	cursor:pointer;
}
.foodblog__content__text__button:active{
	border:none;
	box-shadow: none;
}
.foodblog__content__text__button:focus{
	outline: none;
}
.foodblog__scroll{	
	width:24px;
	height: 40px;
	background-image: url('images/scroll.png');
	margin:0 auto 0 auto;
	padding-bottom: 70px;
	background-repeat: no-repeat;
}
.about{
	background-color:#00b3b3;
	padding:50px 0;
}
.about__container{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about__container--photo{
	width:650px;
	height: 644px;
	background-image: url('images/cup.png');
}
.about__container__text{
	display: flex;
	flex-direction: column;
	max-width: 450px;
}
.about__container__text__title{
	font-size: 90px;
	color:white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	margin:0;
}
.about__container__text__description{
	color:white;
	font-style: white;
	font-family: 'Raleway', sans-serif;
	line-height: 27px;
	font-weight: 300;
	margin:10px 0;
}
.services{
	background-color: #70bfff;
	margin:0;
}
.services__container{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.services__container__title{
	margin:100px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('images/tomato.png');
	background-repeat: no-repeat;
	background-position: 100% 0; 		
	background-size:80% 100%;
	font-family:'Raleway', sans-serif;
	font-weight: bold;
	color:white;
	font-size:90px;
	text-transform: capitalize;
	width:600px;
	height: 527px;
	padding:0;
}
.services__container__list{
	margin: 100px 0;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding:0;
}
.services__container__list__online, .services__container__list__quality, .services__container__list__delivery, .services__container__list__organized{
	display: flex;
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
	margin:10px 0;

}
.services__container__list__online__text, .services__container__list__quality__text, .services__container__list__delivery__text, .services__container__list__organized__text{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width:300px;
	height:100px;
	background-color:white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-transform: capitalize;
	border-right:1px solid #9d9d9d;
	margin:0;

}
.services__container__list__online__box, .services__container__list__quality__box, .services__container__list__delivery__box, .services__container__list__organized__box{
	width:99px;
	height: 100px;
	margin:0;
	padding:0;
	background-color:white;
	display: flex;
	align-items: center;
	justify-content: center;

}
.gallery{
	background-color:#ffe92f;
}
.gallery__container{
	padding-top:100px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.gallery__container__text__title{
	text-align: center;
	margin:20px 0;
	font-size: 90px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color:#262626;
}
.gallery__container__text__description{
	margin:0;
	max-width:560px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color:#262626;
}
.gallery__container__photos{
	display: flex;
	flex-direction: column;
	justify-content: center;	
	align-items: center;
}
.gallery__container__photos__toprow{
	display: flex;
	height: 568px;
	align-items: center;
}
.gallery__container__photos__bottomrow{
	display: flex;
}
.gallery__container__photos__toprow__right{
	display: flex;
	flex-direction: column;
}
.gallery__container__photos__toprow__right__top, .gallery__container__photos__toprow__right__bottom{
	height:268px;
	margin:15px;
}
@media (max-width: 1250px){
	.about__container__text{
		max-width: 300px;
	}
	.about__container--photo{
		width:450px;
		height: 450px;
		background-size:100% 100%;
	}
	.about__container__text__title{
		font-size:50px;
	}
	.services__container__title{
		width:400px;
		height:355px;
		font-size:50px;
	}
	.services__container__list__online__text, .services__container__list__quality__text, .services__container__list__delivery__text, .services__container__list__organized__text{
		width:200px;
		font-size:18px;
	}
}
@media (max-width: 800px){
	.header__foodblog{
		background-color:#f9f8fb;
		background-image: none;
	}
	.header__container{
		justify-content: space-around;
	}
	.header__container__nav{
		display: flex;
		align-items: center;
	}
	.header__container__nav__list{
		padding:0;
		flex-direction: column;
		margin:0;
		margin-top: 10px;
	}
	.header__container__nav__list__item{
		padding-top:3px;
		margin-right: 0;
		margin-left: 10px;
		max-width: 150px;
		border:none;
	}
	.header__container__nav__list__item:hover{
		border:none;
	}
	.header__container__nav__list__item__link:hover{
		color:#777;
	}
	.foodblog{
		align-items: flex-start;
		height: 400px;
	}
	.foodblog__content{
		margin:0 auto;
	}
	.foodblog__content__text{
		display: flex;
		max-width: 400px;
		padding: 0 10px;
		margin:0 auto;
		flex-direction: column;
		align-items: center;
	}
	.foodblog__content__text__title{ 		
		font-size:50px;
		white-space: nowrap;
		margin-bottom: 0;
	}
	.foodblog__content__text__description{
		text-align: justify;
	}
	.foodblog__scroll{
		display: none;
	}
	.about__container{
		flex-direction: column-reverse;
		text-align: justify;
	}
	.about__container--photo{
		width:300px;
		height:300px;
	}
	.about__container__text{
		margin:10px;
		align-items: center;
	}
	.about__container__text__title{
		font-size:50px;
	}
	.services__container{
		flex-direction: column-reverse;
	}
	.services__container__title{
		margin:20px 0;
		width:280px;
		height: 250px;
		font-size:45px;
	}
	.services__container__list{
		margin:20px 0;
	}
	.services__container__list__online__text, .services__container__list__quality__text, .services__container__list__delivery__text, .services__container__list__organized__text{
		height:67px;
	}
	.services__container__list__online__box, .services__container__list__quality__box, .services__container__list__delivery__box, .services__container__list__organized__box{
		height: 67px;
		width: 67px;
	}	
}
